<?xml version="1.0" ?>
<robot name="variable_terrain">

  <link name="terrain_link">

    <!-- 摩擦設定 -->
    <contact>
      <lateral_friction value="1.2"/>  <!-- 横摩擦 -->
      <restitution value="0.0"/>
      <solref>0.02 1</solref> <!-- 接触の硬さ・速度応答の調整 -->
      <solimp>0.9 0.95 0.001</solimp> <!-- 摩擦・剛体衝突の安定化 -->
    </contact>

    <visual>
      <origin xyz="0 0 -.3" rpy="0 0 0"/>
      <geometry>
        <!-- <mesh filename="variable3_tmesh.stl" scale="1 1 1"/> -->
        <!-- <mesh filename="variable3_sdf_tmesh.stl" scale="1 1 1"/> -->
        <mesh filename="vsdf_tmesh.stl" scale="1 1 1"/>
      </geometry>
      <material name="gray">
        <color rgba="0.7 0.7 0.7 1"/>
      </material>
    </visual>

    <collision>
      <origin xyz="0 0 -.3" rpy="0 0 0"/>
      <geometry>
        <!-- <mesh filename="variable3_tmesh.stl" scale="1 1 1"/> -->
        <!-- <mesh filename="variable3_sdf_tmesh.stl" scale="1 1 1"/> -->
        <mesh filename="vsdf_tmesh.stl" scale="1 1 1"/>
      </geometry>
    </collision>

  </link>

</robot>
